<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='delete_student.css') }}">

    <title>Delete Student</title>

    <style>

    </style>
</head>

<body>
    <div class="container{% if error %} shake{% endif %}" style="margin: 100px auto;">
        <h2>Delete Student Recordt</h2>
        <form method="POST">
            <label for="id">Student ID <span style="color:red">*</span></label>
            <input type="number" name="id" id="id" required>
            <input type="submit" value="Delete" onclick="return confirm('Are you sure to delete this student?');">
        </form>

        {% if msg %}
        <p class="msg">{{ msg }}</p>
        {% endif %}

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <a href="/home" class="dashboard-btn">Go to Home</a>
    </div>
</body>

</html>